<div class=" content background mt-0" role="main">
    <div class="result_list_box">
        <div class="row">
            <mat-card class="result_list">
                <div class="card_data row">
                    <div *ngIf='config' class="col">
                        <div *ngIf='config.results[0].image'>
                            <img src="{{config.results[0].image}}" alt="Trail Image">
                        </div>
                        <div *ngIf='!config.results[0].image'>
                            <img src="../../assets/images/background.jpg" alt="Placeholder Image">
                        </div>
                    </div>
                    <div *ngIf='config' class="col info_list">
                        <div *ngIf='config.results[0]'>
                            <div>
                                <h1>{{config.results[0].name}}</h1>
                                <h5>{{config.results[0].description}}</h5>
                                <h3>Rating: {{config.results[0].rating}}/5.0</h3>
                                <ul>
                                    <li>Length: {{config.results[0].length}}</li>
                                    <li>Elevation Gain: {{config.results[0].elevation_gain}}</li>
                                    <li>Trail Type: {{config.results[0].route_type}}</li>
                                </ul>
                                <div>Tags:</div>
                                <span *ngFor='let tag of config.results[0].tag; let i = index'>
                                    {{tag.tag_name}}{{i === config.results[0].tag.length -1 ? '' : ',&nbsp;' }}
                                </span>
                                <h2 *ngIf= "loggedIn()">Favorite: <button mat-icon-button (click)="addFavorite()">
                                        <mat-icon *ngIf="selected" role="img">
                                            favorite
                                        </mat-icon>
                                        <mat-icon *ngIf="!selected" role="img">
                                            favorite_border
                                        </mat-icon>

                                    </button>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>