<!--<p>login works!</p>

<mat-form-field appearance="legacy">
    <mat-label></mat-label>
    <label> Username</label><br>
    <input placeholder="Input Username">
    <br>
    <label>Password</label>
    <br>
    <input placeholder="Input Password">
    <br> <button mat-button>Login</button>
  </mat-form-field>
-->
  <div class="input-group">
    <span class="input-group-text">Username</span>
    <input type="text" aria-label="Username" class="form-control">
  </div>

  <div class="input-group">
    <span class="input-group-text">Password</span>
    <input type="text" aria-label="Password" class="form-control">
  </div>

  <button type="button" class="btn btn-primary">Login</button>
  
