<!---
<div class = "content background">
<div class = "container-sm w-25 position-absolute top-50 start-50 translate-middle">
  <div class="input-group">
    <span class="input-group-text">Username</span>
    <input type="text" aria-label="Username" class="form-control">
  </div>
  <div class="input-group">
    <span class="input-group-text">Password</span>
    <input type="text" aria-label="Password" class="form-control">
  </div>




  <button type="button" class="btn btn-primary" routerLink=''>Login</button>
</div>

</div>
  
-->
<div class = "content background">
<div class = "container-sm w-25 position-absolute top-50 start-50 translate-middle"> 
  <form [formGroup] = 'form' (ngSubmit) = 'login()'> 
    <div class="input-group">
      <label class="input-group-text">Username</label> 
      <input class="form-control" type = 'text' formControlName = 'username' /> 
    </div>
    <div class="input-group">
      <label class="input-group-text">Password</label> 
      <input class="form-control" type = 'password' formControlName = 'password' /> 
    </div>
      <div> 
          <button class="btn btn-primary" type ='submit' [disabled] = '!this.form.valid'> 
              Login 
          </button> 
      </div> 
  </form> 
</div>
</div>